.nav-bar {
    background-color: #1f2532;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .add-note-btn {
        background-color: #56b6bf;
        color: white;
        font-size: 18px;
        height: 25px;
        margin-right: 75px;
        height: 45%;
        width: 160px;
        border-radius: 5px;
        border: 0px;
        cursor: pointer;
    }
}


@media screen and (max-width: 1000px) {
    .nav-bar {
        justify-content: center;
        .add-note-btn {
            margin: 0;
        }
    }
}