$red: #faa9b0;
$green: #B5ECD1;
$yellow: #FBDBAE;
$blue: #AECCFB;


.note-form-modal {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    border-radius: 5px;
}

// .note-form-overlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
// }

.note-form {
    height: 70vh;
    width: 45vw;
    border-radius: 5px;
}

.note-form:focus {
    outline: 0;
}

.note-color {
    height: 1vh;
    border-radius: 5px 5px 0 0;
}

.red {
    background-color: $red;
}
.green {
    background-color: $green;
}
.yellow {
    background-color: $yellow;
}
.blue {
    background-color: $blue;
}

.note-info {
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;

    .colors {
        display: flex;
        align-items: center;
        
        .color {
            width: 2.1vw;
            height: 2.1vw;
            margin-right: 0.9vh;
            border-radius: 4px;
            cursor: pointer;
        }

        .active {
            border: 1.6px solid #AAB1B5;
        }
    }
    
    

    > * {
        margin-bottom: 3vh;
    }

    input, textarea {
        border: none;
    }

    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: lightgray;
    }

    .title {
        font-size: 24px;
    }

    .title::-webkit-input-placeholder {
        font-style: italic;
    }

    .body {
        font-size: 14px;
        height: 100%
    }
}

.note-btns {
    width: 100%;
    height: 9vh;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 5px 5px;

    .note-btn {
        width: 6vw;
        height: 4vh;
        color: white;
        font-size: 13px;
        border-radius: 3px;
        border: none;
        margin: 0 3vw;
    }
    
    .cancel {
        background-color: #D2D3D4;
        cursor: pointer;
    }

    .submit {
        background-color: #B0DFE3;
    }
    
    .submit.active {
        background-color: #66c4cc;
        cursor: pointer;
    }
}






